<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title> 파인다이닝에 오신 것을 환영합니다 </title>
    <link rel="stylesheet" type="text/css" href="/MapSearch/star_rate.css">
</head>
    <body>
    <div class = "text-center mt-3" layout:fragment="content">
        <form th:action="@{/place/comment/create}" th:object="${placeOwnerCommentForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class= "container border border-3 mx-auto p-4" style="width: 20%;">
                <div class="mb-3 row">
                    <label for="reservationId" class="col-sm-3 col-form-label">예약번호</label>
                    <div class="col-sm-6">
                        <input type="text" readonly class="form-control-plaintext" id="reservationId" name="reservationId" th:value="${reservation.id}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="placeOwnerStore" class="col-sm-3 col-form-label">상호명</label>
                    <div class="col-sm-6">
                        <input type="text" readonly class="form-control-plaintext" id="placeOwnerStore" th:value="${reservation.placeOwner.store}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="placeOwnerName" class="col-sm-3 col-form-label">판매자</label>
                    <div class="col-sm-6">
                        <input type="text" readonly class="form-control-plaintext" id="placeOwnerName" th:value="${reservation.placeOwner.owner.username}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="customerName" class="col-sm-3 col-form-label">구매자</label>
                    <div class="col-sm-6">
                        <input type="text" readonly class="form-control-plaintext" id="customerName" th:value="${reservation.customer.username}">
                    </div>
                </div>
                <div role="alert" th:if="${#fields.hasAnyErrors()}">
                    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                </div>
                <div class = "text-center">
                    <div class="rating">
                        <label>
                            <input type="radio" th:field="*{starRate}" value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" th:field="*{starRate}" value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" th:field="*{starRate}" value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" th:field="*{starRate}" value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" th:field="*{starRate}" value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea th:field="*{reviewContent}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="text-center mb-3">
                    <input type="submit" value="후기등록" class="btn btn-primary my-2">
                </div>
        </div>
        </form>
    </div>
</body>