<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title> 그린워커에 오신 것을 환영합니다 </title>
    <link rel="stylesheet" href="/MapSearch/map_search.css">
    <link rel="stylesheet" href="/MapSearch/custominfo.css">
    <link rel="stylesheet" href="/MapSearch/custom_regist.css">
    <link rel="stylesheet" href="/MapSearch/star_rate.css">
</head>
<body>
<div layout:fragment="content">
    <div class="main-wrap">
        <div class="content-wrap">
            <div class="locationlist p-3">
                <div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="검색어를 입력해주세요" aria-describedby="basic-addon2" id="keyword" name="keyword" size="15" >
                            <button class="btn btn-primary" id="searchkeyword" type = "button"> 검색하기 </button>
                        </div>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"> 검색 </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"> 식당 </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                <div id="menu_wrap" class="bg_white" style="display: none;">
                                    <ul id="placesList"></ul>
                                    <div id="pagination"></div>
                                </div>
                                <div id="menu_wrap2" style="display: block;">
                                    <div class = "text-center">
                                        <img src="/MapSearch/search_main.jpg" class="img-fluid" alt="...">
                                        <h4 class="my-3">원하는 장소를 검색하세요</h4>
                                        <div sec:authorize="hasAuthority('소비자')">
                                            새롭게 추가된 장소를 알고 계세요? <br>
                                            장소 제안은 지도 품질 향상에 큰 도움이 됩니다. <br>
                                            <button class="btn btn-primary mt-3" type ="button" id="popup_open_btn">신규장소 등록요청</button>
                                        </div>
                                    </div>
                                    <div id="my_modal">
                                        <div class="locationList" style="margin : 15px;">
                                            <form id="targetCreateForm" name="targetCreateForm" method="post">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <div class = "text-end">
                                                    <button type="button" class="modal_close_btn btn-close" aria-label="Close"></button>
                                                </div>
                                                <span style="font-size : 18px; font-weight : bold; justify-content: center;  align-items: center; display: flex;"> 장소 추가 </span>
                                                <span style="font-size : 15px;"> 장소 세부정보 </span>
                                                <div class="mb-3">
                                                    <span style="font-size : 14px; color : #aaaaaa;"> 이 장소에 대한 정보를 제공해 주세요. 이 장소가 지도에 추가되면 공개적으로 표시됩니다 </span>
                                                </div>
                                                <div th:if="${message != null}" th:text="${message}" class="message" style="color : red; font-weight : bold; margin-top : 2px;"></div>
                                                <div class="input-group mb-1">
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="locationName" name="placename" placeholder="장소 이름(필수항목)">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select class="form-select" name="category" aria-label="Default select example">
                                                            <option value="음식점" > 음식점 </option>
                                                            <option value="카페" > 카페 </option>
                                                            <option value="술집"> 술집 </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="mb-1">
                                                    <input type="text" class="form-control" id="locationAddress" name="locationaddress"
                                                           placeholder="위치(필수항목)" onkeydown="findLocation()" readonly>
                                                </div>
                                                <div class="mb-1">
                                                    <input type="text" class="form-control" id="locationDetailedAddress" name="locationdetailedaddress"
                                                           placeholder="상세주소" >
                                                </div>
                                                <div id="map_click" style="display : block; margin-bottom : 2px;">
                                                    <div id="map_modal" style="width:100%; height:248px;"></div>
                                                </div>
                                                <div class="form-floating mb-3" hidden="hidden">
                                                    <input type="text" class="form-control custom-input" id="locationLat" name="locationlat"
                                                           value=" " readonly>
                                                    <label class="custom-label" for="locationLat"> 위도 </label>
                                                </div>
                                                <div class="form-floating mb-3" hidden="hidden">
                                                    <input type="text" class="form-control custom-input" id="locationLng" name="locationlng"
                                                           value=" " readonly>
                                                    <label class="custom-label" for="locationLng"> 경도 </label>
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="memo" name="memo" rows="3"placeholder="설명" style="resize: none;"></textarea>
                                                </div>
                                                <div>
                                                    <button type="button" style="margin-left : 25%;" class="registBtn" id = "registBtn" onclick="registPlace(this)">등록</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                <div id="resList" class="overflow-auto" style="display: none;">
                                </div>
                                <div class ="text-center" id="resList2" style="display: block;">
                                    <img src="/MapSearch/search_main.jpg" class="img-fluid" alt="...">
                                    <h4 class="text-center my-3">지도의 카테고리를 눌러보세요</h4>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="mapside">
                <div id="wrapper">
                    <div class="map_wrap">
                        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                        <ul id="category">
                            <li id="BK9" data-order="0">
                                <span class="category_bg bank"></span>
                                검색
                            </li>
                            <li id="MT1" data-order="1">
                                <span class="category_bg mart"></span>
                                식당
                            </li>
                        </ul>
                    </div>

                    <script type="text/javascript"
                            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c643afa51aa20879e433287a3b49c7a7&libraries=services"></script>
                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                    <!-- 카카오지도 키워드 검색  -->
                    <script src="/MapSearch/map_search.js"></script>
                    <!-- 소비자 신규장소등록 요청 (모달) -->
                    <script src="/MapSearch/custom_regist.js"></script>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>