<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title> 이름난 맛집에 오신 것을 환영합니다 </title>
    <link rel="stylesheet" type="text/css" href="/MapSearch/star_rate.css">
</head>
<body>
<div layout:fragment="content">

        <div class="container py-4">
            <div class="card shadow-sm mb-3">
                <div class="card-header bg-transparent text-center">
                    <img class="profile_img rounded" height="300" width="350" th:src="'/menu/' + ${placeMenuThumbnail.origFileName}"  alt="student dp">
                    <div>
                        <span th:text = "${placeOwner.store}"></span>
                    </div>
                </div>
                <div class="card-body align-middle">
                    <p class="mb-2"><strong class="pr-1">업종 :</strong> <span th:text = "${placeOwner.storeCategory}"></span></p>
                    <p class="mb-2"><strong class="pr-1">주소 :</strong> <span th:text = "${placeOwner.storeAddress}"></span></p>
                    <p class="mb-2"><strong class="pr-1">전화번호 :</strong> <span th:text = "${placeOwner.callNum}"></span> </p>
                    <p class="mb-2"><strong class="pr-1">홈페이지 :</strong> <span th:text = "${placeOwner.link}"></span> </p>
                    <div class="btn-group">
                        <div class="mb-2"><strong class="pr-1">영업시간 : </strong> </div>
                        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            상세보기
                        </button>
                        <ul class="dropdown-menu">
                            <table class="table">
                                <thead>
                                <tr class = "text-center">
                                    <th scope="col">요일</th>
                                    <th scope="col">오픈</th>
                                    <th scope="col">폐점</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="placeOL : ${placeOperate}">
                                    <td th:text="${placeOL.day}"></td>
                                    <td th:text="${placeOL.openTime}"></td>
                                    <td th:text="${placeOL.closeTime}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </ul>
                    </div>
                    <p class="mb-0"><span th:each="placeTag : ${placeTags}" th:text="${placeTag.tag}"></span>
                </div>
            </div>

            <div class="card shadow-sm mb-3">
                <div class="card-header bg-transparent border-0">
                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i> 진행중인 이벤트 </h3>
                </div>
                <div class="card-body pt-0">
                    <span th:text = "${placeOwner.storeMemo}"></span>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-header bg-transparent border-0">
                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i>메뉴판</h3>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div th:each="placeMenuList : ${placeMenu}"  class="col-sm-3">
                                <div class="card mb-3" style="width: 18rem;">
                                    <img th:src="'/menu/' + ${placeMenuList.origFileName}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text"> <span th:text = "${placeMenuList.menuName}"></span> </p>
                                        <p class="card-text"> <span th:text = "${placeMenuList.menuPrice} + ' 원'"></span> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
            <div class="card shadow-sm mt-3 p-3">
                <div class="card-header bg-transparent border-0">
                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i> 후기 </h3>
                </div>
                <!-- 답변 반복 시작 -->
                <div class="card mb-2" th:each="comment : ${placeOwner.placeOwnerCommentList}">
                    <div class="card-body">
                        <div class="mb-3"><i th:attr="data-star=${comment.starRate}"></i></div>
                        <div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                <span th:if="${comment.customer != null}" th:text="${comment.customer.username}"></span>
                            </div>
                                <div th:text="${#temporals.format(comment.localDateTime, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                     </div>
                </div>
            </div>
            </div>
            <div class = "border-top text-center">
                <form id="reservationForm" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name = "placeOwnerId" th:value = "${placeOwner.id}"/>
                    <div sec:authorize="hasAuthority('소비자')">
                        <input class="btn btn-primary my-2" type="button" th:value="예약하기" onclick="resFormAction(this, ACTIONS_REQUEST)">
                    </div>
                </form>
            </div>
        </div>

    <script>
        var ACTIONS_REQUEST = {
            'url' : '/reservation/request',
            'msg' : '예약하시겠습니까?'
        };

        function resFormAction(input, action) {
            if(confirm(action.msg)) {
                input.form.action = action.url;
                input.form.submit();
            }
        }
    </script>

</div>
</body>
</html>