<style>
body{
	font-family:"맑은 고딕", "고딕", "굴림";
}

html, body {
margin: 0px;
padding: 0px;
}

#wrapper{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.map_wrap, .map_wrap * {
    margin:0;
    padding:0;
    font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active{
    color:#000;
    text-decoration: none;
}

#category {position:absolute;top:10px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
#category li {float:left;list-style: none;width:50px;px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
#category li.on {background: #eee;}
#category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
#category li:last-child{margin-right:0;border-right:0;}
#category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
#category li .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;}
#category li .bank {background-position: -10px 0;}
#category li .mart {background-position: -10px -36px;}
#category li .pharmacy {background-position: -10px -72px;}
#category li .oil {background-position: -10px -108px;}
#category li .cafe {background-position: -10px -144px;}
#category li .store {background-position: -10px -180px;}
#category li.on .category_bg {background-position-x:-46px;}

.map_wrap {
    position:relative;
    width:100%;
    height:100%;
}

#menu_wrap {
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:90%;
    height:550px;
    margin: 30px;
    padding:5px;
    overflow-y: auto;
    background:rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size:10px;
    border-radius: 10px;
}

.bg_white {
    background:#fff;
}

#placesList li {
    list-style: none;
}

#placesList .item {
    position:relative;
    border-bottom:1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item span {
    display: block;
    margin-top:4px;
}

#placesList .item h5, #placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info{
    padding:10px 0 10px 55px;
}

#placesList .info .gray {
    color:#8a8a8a;
}

#placesList .info .jibun {
    padding-left:26px;
    background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}

#placesList .info .tel {
    color:#009900;
}

#placesList .info .placey {color:#009900;}
#placesList .info .placex {color:#009900;}

#placesList .item .markerbg {
    float:left;
    position:absolute;
    width:36px;
    height:37px;
    margin:10px 0 0 10px;
    background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}

#pagination {
    margin:10px auto;
    text-align: center;
}

#pagination a {
    display:inline-block;
    margin-right:10px;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color:#777;
}


ul, li{
  list-style:none;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
  color:inherit;
}

.main-wrap {
  margin : 0;
  padding : 0;
}

.content-wrap {
  display : flex;
}

.locationlist {
    background : white;
    width : 30%;
    height : 750px;
}
.mapside {
    background : bisque;
    width : 70%;
    height : 750px;
}

.wrapSimpleInfo {
	position:absoulte;
	height:280px;
	width:160px;
	border: solid #F2F2F2 2px;
	border-radius: 15px;
	background: #fff;
}

.classimg {
	height : 160px;
	width : 160px;
}

.classinfo {
	padding:5px;
}

.classtitle {
	display: inline-block;
	white-space: normal;
	overflow:hidden;
	text-overflow: ellipsis;
	line-height:1.5;
	height:3.0em
}

.classbutton {
    text-align:center;
}

.classpay {
	display: inline-block;
	line-height:1.5
}

.classse {
	display: inline-block;
	float:right;
	line-height:1.5;
}

</style>