<!-- reservation_request.html -->
<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Request</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Reservation Request</h1>

    <!-- 예약 요청 내용을 입력하는 폼 -->
    <form th:action="@{/reservation/request}" method="post">
        <!-- 필요한 입력 필드들을 추가 -->
        <label for="store">store:</label>
        <input type="text" name="store" placeholder="Store" required>
        <br>

        <label for="customerId">Customer ID:</label>
        <input type="text" name="customerId" placeholder="Customer ID" required>
        <br>

        <label for="ownerId">onwer ID:</label>
        <input type="text" name="ownerId" placeholder="owner ID" required>
        <br>

        <!-- 기타 필요한 입력 필드들을 추가 -->

        <button type="submit">Submit Reservation</button>
    </form>

    <!-- 예약 목록 페이지로 이동하는 링크 -->
    <a th:href="@{/reservation/list}">View Reservations</a>
</div>
</body>
</html>