<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/member/member_profile_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/member/member_form.css">
</head>
<body>
<div layout:fragment="profileContent">
    <div class="all">
        <div class="profile">
            <div>
                <a th:href="@{/member/deleteForm}" class="btn btn-secondary">회원탈퇴</a>
            </div>
            <div>
                <a th:href="@{/}" class="btn btn-secondary">비밀번호변경</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>