<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/member_form.css">
</head>
<body>
<div layout:fragment="content">
    <div>
        <h1>회원가입</h1>
    </div>
    <div class="all">
        <form th:action th:object="${memberCreateForm}" method="post">
            <div role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            </div>
            <div>
                <label for="username">아이디 : </label>
                <input type="text" id="username" th:field="*{username}" name="username"
                       pattern="^(?=.*[a-zA-Z])[a-zA-Z0-9]+$" title="영어와 숫자만 입력 가능합니다.">
            </div>
            <div>
                <label for="password">비밀번호 : </label>
                <input type="text" id="password" th:field="*{password}" name="password"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$"
                       title="8자 이상의 비밀번호를 입력하세요. 영어 대문자, 소문자, 숫자를 최소 한 글자씩 포함해야 합니다.">
            </div>
            <div>
                <label for="passwordConfirm">비밀번호 확인 : </label>
                <input type="text" id="passwordConfirm" th:field="*{passwordConfirm}" name="passwordConfirm">
            </div>
            <div>
                <label for="Nickname">닉네임 : </label>
                <input type="text" id="Nickname" th:field="*{Nickname}" name="Nickname"
                       pattern="^\S*$"
                       title="공백을 사용할 수 없습니다.">
            </div>
            <div>
                <label for="email">이메일 : </label>
                <input type="text" id="email" th:field="*{email}" name="eamil" pattern="^\S*$" title="공백을 사용할 수 없습니다.">
            </div>
            <input type="submit" value="일반 회원가입" formaction="/customer/signup">
            <input type="submit" value="사장님 회원가입" formaction="/owner/signup">
        </form>
    </div>
</div>
</body>
</html>