<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title> 팀프로젝트 0001 </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div layout:fragment="content" class="container my-3">


    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th style="width:15%">번호</th>
            <th style="width:25%">제목</th>
            <th style="width:10%">작성자</th>
            <th style="width:40%">작성일시</th>
            <th style="width:20%">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post, loop : ${paging.content}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.title}"></a>
                <span class="text-danger small ms-2" th:if="${#lists.size(post.postCommentList) > 0}">
                    [<span class="comment-text" th:text="${#lists.size(post.postCommentList)}"></span>]
                </span>
            </td>
            <td><span th:if="${post.customer != null}" th:text="${post.customer.nickname}"></span></td>
            <td th:text="${#temporals.format(post.localDateTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${post.view != null ? post.view : 0}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">

            <!-- 추가: 맨 처음으로 가는 버튼 -->
            <li class="page-item" th:classappend="${paging.number > 0} ? '' : 'disabled'">
                <a class="page-link" th:href="@{|?page=0|}">
                    <span>처음</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>

            <!-- 페이지 번호 링크 -->
            <li th:each="i : ${#numbers.sequence(paging.number - (paging.number % 10), (paging.number + (9 - (paging.number % 10))) < paging.totalPages ? (paging.number + (9 - (paging.number % 10))) : paging.totalPages - 1)}"
                class="page-item">
                <a th:text="${i+1}" class="page-link" th:href="@{|?page=${i}|}"
                   th:classappend="${i == paging.number} ? 'active'"></a>
            </li>


            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>


            <!-- 추가: 맨 끝으로 가는 버튼 -->
            <li class="page-item" th:classappend="${paging.number < paging.totalPages - 1} ? '' : 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.totalPages - 1}|}">
                    <span>마지막</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <div class="col-md-6 offset-md-6">
        <!-- 오른쪽 열에 검색 엔진과 찾기 버튼을 배치 -->

        <div class="input-group">
            <input type="text" id="search_kw" class="form-control" th:value="${kw}">

            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>

        <!-- 오른쪽 열 아래에 질문 등록하기 버튼을 배치 -->
        <div class="text-md-right mt-4 mt-md-2">
            <a th:href="@{/post/create}" class="btn btn-primary">질문 등록하기</a>
        </div>
    </div>


    <form th:action="@{/post/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>

    <script layout:fragment="script" type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function() {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        });
    </script>

</div>
</body>
</html>