<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${post.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${post.content}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${post.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정한 날짜</div>
                    <div th:text="${#temporals.format(post.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${post.customer != null}" th:text="${post.customer.nickname}"></span>
                    </div>
                    <div th:text="${#temporals.format(post.localDateTime, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">


                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/post/likes/${post.id}|}"
                   th:data-is-like="${post.likes.contains(currentUser)}">
                    좋아요
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(post.likes)}"></span>
                </a>

                <a th:href="@{|/post/modify/${post.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${post.customer != null and #authentication.getPrincipal().getUsername() == post.customer.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/post/delete/${post.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${post.customer != null and #authentication.getPrincipal().getUsername() == post.customer.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|댓글${#lists.size(post.postCommentList)}개|"></h5>


    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="postcomment : ${post.postCommentList}">
        <a th:id="|postcomment_${postcomment.id}|"></a>
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${postcomment.content}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${postcomment.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정한 날짜</div>
                    <div th:text="${#temporals.format(postcomment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${postcomment.customer != null}" th:text="${postcomment.customer.nickname}"></span>
                    </div>
                    <div th:text="${#temporals.format(postcomment.localDateTime, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/comment/likes/${postcomment.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(postcomment.likes)}"></span>
                </a>

                <a th:href="@{|/answer/create/${postcomment.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:text="답변"></a>

                <a th:href="@{|/comment/modify/${postcomment.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${postcomment.customer != null and #authentication.getPrincipal().getUsername() == postcomment.customer.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${postcomment.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${postcomment.customer != null and #authentication.getPrincipal().getUsername() == postcomment.customer.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->

    <!-- 답변 작성 -->
    <form th:action="@{|/comment/create/${post.id}|}" method="post" class="my-3" th:object="${postCommentForm}"
          onsubmit="return submitPost()">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
        <div id="floatingTextarea">
            <!-- 익명 사용자인 경우 "로그인" 버튼을 표시 -->
            <div th:if="${#authorization.expression('isAnonymous()')}">
                <textarea disabled th:field="*{content}" class="form-control" rows="2" placeholder="로그인을 해주세요."
                          id="anonymousContent"></textarea>
                <input type="submit" value="로그인" class="btn btn-primary my-2">
            </div>
            <!--   인증된 사용자인 경우 "답변등록" 버튼을 표시 -->
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <textarea th:field="*{content}" class="form-control" rows="2" placeholder="댓글을 남겨보세요."
                          id="authenticatedContent"></textarea>
                <input type="submit" value="등록" class="btn btn-primary my-2">
            </div>
        </div>
    </form>


    <script>
        function submitPost() {
            // 답변 내용을 가져오기
            var content = document.getElementById("authenticatedContent").value;

            // 답변 내용이 비어있는 경우
            if (!content.trim()) {
                // 경고창 띄우기
                alert("댓글을 입력해주세요.");
                return false; // 폼 제출을 막음
            } else {
                // 여기에 실제 답변 등록 코드를 추가 (예: 서버로 데이터 전송 등)
                // 여기에 실제 글 등록 코드를 추가하세요.
                return true; // 폼 제출 허용
            }
        }
    </script>
    <script layout:fragment="script" type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }
                ;
            });
        });


        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });


    </script>

</div>
</html>