<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> [Favicon] </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/guide">이용방법</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" th:href="@{/member/login}" class="nav-link">로그인</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="nav-link">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" th:href="@{/member/signup}" class="nav-link">회원가입</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a class="nav-link" sec:authorize="hasAuthority('사장님')" th:href="@{/owner/profile}">마이페이지</a>
                    <a class="nav-link" sec:authorize="hasAuthority('소비자')" th:href="@{/customer/profile}">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/place/map">맛집등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/place/search">맛집찾기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('사장님')" th:href="@{/reservation/ownerList}">맛집예약</a>
                    <a class="nav-link" sec:authorize="hasAuthority('소비자')" th:href="@{/reservation/customerList}">맛집예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post/list">커뮤니티</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>