<html layout:decorate="~{layout}">
<div class="all" layout:fragment="content">
    <h2>회원가입</h2>
    <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post">
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        </div>
        <div>
            <label for="username">아이디 : </label>
            <input type="text" id="username" th:field="*{username}" name="username">
        </div>
        <div>
            <label for="password">비밀번호 : </label>
            <input type="text" id="password" th:field="*{password}" name="password">
        </div>
        <div>
            <label for="passwordConfirm">비밀번호 확인 : </label>
            <input type="text" id="passwordConfirm" th:field="*{passwordConfirm}" name="passwordConfirm">
        </div>
        <div>
            <label for="email">이메일 : </label>
            <input type="text" id="email" th:field="*{email}" name="eamil">
        </div>
        <input type="submit" value="회원가입">
    </form>
</div>
</html>