<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title> 카카오지도 장소등록 </title>
    <link rel="stylesheet" href="/map.css">
    <style>
        button {
            border: none;
            outline: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="regist_array">
        <a style="font-size : 30px; font-weight : bold;">업체 신규 등록</a>
        <div class="regist_form">

        </div>
    </div>
</div>
</body>
</html>