
<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/member/member_profile_layout}"> 
   <head>
        <link rel="stylesheet" href="/Place/PlaceRegistList.css">
    </head>
    <body>
        <div layout:fragment="profileContent"> 
            <div class="listLayout" style="display : grid; margin-top : 3%;">
                <div class="co" style="margin-left : 40%;">
                    <h3>가게목록</h3>
                </div>
                <div id="board-search">
                    <div class="search-window" style="margin-left : 28%;">
                        <form action="" style="display : flex;">
                            <div class="search-wrap" style="display : contents;">
                                <label class="blind" style="margin-top : 1%;">가게 검색</label>
<!--                                <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="" style="width : 30%; border-radius: 5px 0 0 5px; margin-left : 8px;">-->
                                <input type="search" name="kw" class="form-control" placeholder="검색어를 입력해주세요." th:value="${param.kw}" style="width : 30%; border-radius: 5px 0 0 5px; margin-left : 8px;">
                                <button type="submit" class="searchBtn" style="height : 39px; margin-left : 1px;" >검색</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="listCo">
                    <div class="listTable">
                        <table th:if="${paging != null}" style="width : 800px; margin-left : 15%;">
                            <thead style="font-size : 15px;">
                                <tr>
                                    <th style="text-align : center; width : 15%;">순번</th>
                                    <th style="text-align : center; width : 45%;">가게명</th>
                                    <th style="text-align : center; width : 15%;">오픈일자</th>
                                    <th style="text-align : center; width : 25%;"></th>
                                </tr>
                            </thead>
                            <tbody style="font-size : 14px;">
                                <tr th:each="place,loop : ${paging}">
                                    <td style="text-align : center;" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}" ></td>
<!--                                    <td style="text-align : center;" th:text="${loop.count}"></td>-->
                                    <td style="text-align : center;" th:text="${place.store}"></td>
                                    <td style="text-align : center;" th:text="${#temporals.format(place.openingDate, 'yyyy-MM-dd')}"></td>
                                    <td>
                                        <a style="text-decoration: none; color: #1FDA11; font-weight : bold; margin-left : 5%;" th:href="@{|/place/map/regist/list/detail/${place.id}|}"> 상세보기 및 수정</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table th:if="${paging == null}">
                            <thead style="font-size : 15px; text-align : center;">
                            <tr>
                                <th style="width : 10%; text-align : center;">가게 등록 후 이용해주세요.</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div th:if="${!paging.isEmpty()}">
                    <ul class="pagination" style="margin-left : 37%; margin-top : 2%;">
                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{|?page=${paging.number-1}|}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" class="page-item"  th:if="${page >= paging.number-5 and page <= paging.number+5}">

                            <a th:text="${page}" class="page-link" th:classappend="${page == paging.number} ? 'active'"th:href="@{|?page=${page}|}"></a>
                        </li>

<!--                        <li th:each="i  : ${#numbers.sequence(paging.number - (paging.number % 5), (paging.number + (4 - (paging.number % 5))) < paging.totalPages ? (paging.number + (4 - (paging.number % 5)) : paging.totalPages - 1)}"-->
<!--                            class="page-item">-->
<!--                            <a th:text="${i+1}" class="page-link" th:href="@{|?page=${i}|}"-->
<!--                               th:classappend="${i == paging.number} ? 'active'"></a>-->
<!--                        </li>-->


                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                            <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </body>
</html>