<!DOCTYPE html>
<html lang="ko" layout:decorate="~{content}">
<head>
    <meta charset="UTF-8">
    <title> 카카오지도 장소등록 </title>
    <link rel="stylesheet" href="/Map/regist.css">
</head>
<body>
<div>
    <!--<div th:fragment="side_menu">-->
    <div class="main-wrap" id="registModal" style="background : yellow; ">
        <div class="content-wrap">
            <div class="locationlist p-3">
                <form id="targetCreateForm" name="targetCreateForm" method="post">
                    <div class="mb-3 row">
                        <input type="text" class="form-control" id="locationname" placeholder="장소 이름(필수항목)">
                    </div>
                    <div class="mb-3 row">
                        <input type="text" class="form-control" id="locationaddress" name="locationaddress"
                               placeholder="주소(필수항목)" readonly>
                        <div id="map" style="width:550px;height:400px;"></div>
                    </div>
                    <div class="mb-3 row">
                        <input type="text" class="form-control" id="storecategory" name="storecategory"
                               placeholder="카테고리(필수)">
                    </div>
                    <div class="form-floating mb-3" hidden="hidden">
                        <input type="text" class="form-control custom-input" id="locationlat" name="locationlat"
                               value=" " readonly>
                        <label class="custom-label" for="locationlat"> 위도 </label>
                    </div>
                    <div class="form-floating mb-3" hidden="hidden">
                        <input type="text" class="form-control custom-input" id="locationlng" name="locationlng"
                               value=" " readonly>
                        <label class="custom-label" for="locationlng"> 경도 </label>
                    </div>
                    <div class="mb-3 row">
                                <textarea class="form-control" id="targetContent" rows="3" style="resize: none;"
                                          placeholder="설명"></textarea>
                    </div>
                    <div class="text-center mb-3">
                        <button type="button" class="btn btn-primary">등록</button>
                    </div>
                </form>
            </div>

            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1f6119cdfa6fe0122000dfaa0c837e0e&libraries=services,clusterer"></script>
            <script>
                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667),
                    level: 3
                };
                var map = new kakao.maps.Map(container, options);
            </script>
        </div>
    </div>
</div>
</body>
</html>